.slick-dots li {
    margin: -3px; /* Adjust the value to decrease the space between dots */
  }
  
  .slick-dots li button:before {
    font-size: 8px; /* Optional: Adjust the dot size if needed */
  }

  .slick-dots li.slick-active button:before {
    color: rgb(255, 30, 0); /* Active dot color */
  }

  #mainselecttag {
    display: flex;
    text-align: left;
    height: fit-content;
    background-color: aquamarine;
  }
  
  #mainselecttag select {
    background-color: aquamarine;
    margin: auto;
    width: 300px;
    border: none;
    color: teal;
    font-weight: bolder;
  }
  
  #scrollContainer {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent wrapping of child elements */
    padding: 10px; /* Optional: Add padding for spacing */
  }
  
  #scrollContainer::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit browsers (e.g., Chrome, Safari) */
  }
  
  #mainselecttag h3 {
    display: inline-block; /* Ensure h3 elements are inline horizontally */
    padding: 7px 15px;
    border: 1px solid teal;
    border-radius: 10px;
    color: teal;
    margin: 0 5px; /* Add some spacing between the h3 elements */
  }

  #contestform input{
    margin-top: 15px;
   border: 2px solid skyblue;
   color: rgb(50, 136, 170);
  }

  #contestform select{
    margin-top: 15px;
    background-color: white;
   border: 2px solid skyblue;
   color: rgb(50, 136, 170);
   height: 60px;
  }

  #contestform input::placeholder {
    color: skyblue;
    font-weight: bolder;
  }

  .text-area {
    margin-top: 15px;
    width: 100%;
    height: 200px; /* Adjust height as needed */
    padding: 10px;
    color: rgb(50, 136, 170);
    border: 2px solid skyblue;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.5;
    resize: vertical; /* Allows users to resize vertically */
    box-sizing: border-box;
    overflow-y: auto; /* Allows vertical scrolling if needed */
  }

  .text-area::placeholder{
    color: skyblue;
    font-weight: bolder;
  }

  #contestform button {
   background-color: rgb(212, 86, 103);
   border: none;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }