#container {
    padding: 20px;
  }

  #toggleButton {
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px 0;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  #toggleButton:hover {
    background-color: #45a049;
  }
  
  #merchantTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #merchantTable th,
  #merchantTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  #merchantTable th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  #merchantTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  #merchantTable tr:hover {
    background-color: #e6f7ff;
  }
  
  
  #searchInput {
    padding: 10px;
    width: 60%;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  #merchantCarddiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  
  #merchantCarddiv p{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  
  #merchantCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #field {
    margin-bottom: 20px;
  }
  
  #label {
    font-weight: bold;
    width: 80%;
    margin-top: 20px;

  }
  
  #media {
    width: 250px;
    height: auto;
    display: block;
    margin: 10px 0;
  }
  